<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net.Async-PCL" version="2.5.1" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net.Platform.XamarinAndroid" version="2.5.1" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net-PCL" version="2.5.1" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Connectivity" version="1.0.2" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms" version="1.4.1.6349" targetFramework="MonoAndroid50" />
</packages>